<div class="col-12 dotconfig">
  <h3 class="text-center"><i class="fa fa-circle" aria-hidden="true"></i> Puntos del QR</h3>
  <div style="height: 22px;"></div>
  <div class="container-fluid">
    <div class="row">

      <div class="form-check col-3 col-lg-2">
        <input
          class="form-check-input"
          type="radio"
          name="typeDots"
          (click)="setDot('classy')"
          id="classy" />
        <label class="form-check-label" for="classy">
          <img
            class="img-fluid"
            src="/assets/img/dots/classy.png"
            alt="classy"/>
        </label>
      </div>
      <div class="form-check col-3 col-lg-2">
        <input
          class="form-check-input"
          type="radio"
          name="typeDots"
          (click)="setDot('classy-rounded')"
          id="classy-rounded" />
        <label class="form-check-label" for="classy-rounded">
          <img
            class="img-fluid"
            src="/assets/img/dots/classy-rounded.png"
            alt="classy-rounded"/>
        </label>
      </div>
      <div class="form-check col-3 col-lg-2">
        <input
          class="form-check-input"
          type="radio"
          name="typeDots"
          (click)="setDot('dots')"
          id="dots" />
        <label class="form-check-label" for="dots">
          <img
            class="img-fluid"
            src="/assets/img/dots/dots.png"
            alt="dots"/>
        </label>
      </div>
      <div class="form-check col-3 col-lg-2">
        <input
          class="form-check-input"
          type="radio"
          name="typeDots"
          (click)="setDot('extra-rounded')"
          id="extra-rounded" />
        <label class="form-check-label" for="extra-rounded">
          <img
            class="img-fluid"
            src="/assets/img/dots/extra-rounded.png"
            alt="extra-rounded"/>
        </label>
      </div>
      <div class="form-check col-3 col-lg-2">
        <input
          class="form-check-input"
          type="radio"
          name="typeDots"
          (click)="setDot('rounded')"
          id="rounded"
          checked />
        <label class="form-check-label" for="rounded">
          <img
            class="img-fluid"
            src="/assets/img/dots/rounded.png"
            alt="rounded"/>
        </label>
      </div>
      <div class="form-check col-3 col-lg-2">
        <input
          class="form-check-input"
          type="radio"
          name="typeDots"
          (click)="setDot('square')"
          id="square" />
        <label class="form-check-label" for="square">
          <img
            class="img-fluid"
            src="/assets/img/dots/square.png"
            alt="square"/>
        </label>
      </div>

      <div class="col-12" style="height: 20px;"></div>

      <div class="col-6">
        Degrade:
      </div>
      <div class="col-6">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="isDegrade"
            (change)="save()"
            id="flexSwitchCheckDefault" />
        </div>
      </div>

      <div class="col-12" style="height: 20px;" *ngIf="isDegrade"></div>

      <div class="col-12" *ngIf="isDegrade">
        <select
          class="form-select"
          (change)="save()"
          [(ngModel)]="typeDegrade"
          aria-label="Default select example">
          <option value="lineal" selected>Lineal</option>
          <option value="radial">Circular</option>
        </select>
      </div>

      <div class="col-12" style="height: 20px;" *ngIf="isDegrade"></div>

      <div class="col-12" *ngIf="isDegrade">
        <label for="rotation" class="form-label">Rotación</label>
        <input
          type="range"
          class="form-range"
          (change)="save()"
          [(ngModel)]="rotation"
          min="0"
          max="180"
          id="rotation" />
      </div>

      <div class="col-12" style="height: 20px;"></div>

      <div class="col-6">
        <label for="colorPrimary" class="form-label" *ngIf="!isDegrade">
          Color
        </label>
        <label for="colorPrimary" class="form-label" *ngIf="isDegrade">
          Color Inicial
        </label>
        <input
          type="color"
          class="form-control form-control-color"
          id="colorPrimary"
          [(ngModel)]="colorP"
          (change)="save()"
          value="#71C608"
          title="Elige el color principal" />
      </div>

      <div class="col-6" *ngIf="isDegrade">
        <label for="colorDegrade" class="form-label">Color Final</label>
        <input
          type="color"
          class="form-control form-control-color"
          id="colorDegrade"
          [(ngModel)]="colorD"
          (change)="save()"
          value="#71C608"
          title="Elige el color de degrade" />
      </div>

    </div>
  </div>
</div>
