<div class="col-12">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="https://qrgenerator.lynx.net.ar/"
      aria-label="https://qrgenerator.lynx.net.ar/"
      [(ngModel)]="urlData"
      (change)="save()"
      maxlength="2083" />
  </div>
</div>
